*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header
{
    text-align: center;
    background-color: rgb(36, 36, 72);
    color: white;
    font-size: 20px;
    padding: 20px;
}

.section-heading
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: white;
    font-size: 20px;
}
.section-songs
{
    display: flex;
    gap: 30px;
    padding: 20px;
}
.icon
{
    height: 100px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: rgb(126, 126, 187);
    border-radius: 10px;
    
}

.song-card
{
    width: 220px;
    padding: 20px;
    background-color: rgb(47, 47, 96);
    color: white;
    border-radius: 10px;
}

.song-card h3,.song-card p{
    margin-top: 10px;
}

.song-card button
{
    width: 100%;
    background-color: rgb(56, 56, 107);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;

}
.song-card button:hover
{
    background-color: rgb(95, 95, 154);
}

.controls-section
{
    background-color: rgb(83, 83, 172);
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 20px;
}

.controls-section h2{
    margin-bottom: 20px;
}

.controls-section button
{
    background-color: rgb(56, 56, 107);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    border: none;
}

.recent-section
{
     background-color: rgb(83, 83, 172);
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 20px;
}

.recent-section h2{
    margin-bottom: 20px;
}

.recent-songs
{
    display: flex;
    gap: 20px;
}

.recent-songs span
{
    background-color: rgb(56, 56, 107);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    border: none;

}

.summary-section
{
     background-color: rgb(83, 83, 172);
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 20px;
}


.summary-section h2{
    margin-bottom: 20px;
}

.playList-summery
{
    display: flex;
    gap: 20px;
}

.playList-summery p
{
    font-size: 20px;

}

footer
{
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: white;
}